@import "tailwindcss";

html {
  font-size: 130%;
}

.is-number {
  font-size: 1.538em; /* 2.0 / 1.3 ≈ 1.538 */
  line-height: 1;
  display: inline-block;
}

@keyframes flow-right {
  0% { left: 0%; opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { left: 90%; opacity: 0; }
}

@keyframes flow-down {
  0% { top: 0%; opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { top: 90%; opacity: 0; }
}

.animate-flow-right {
  animation: flow-right 2s linear infinite;
}

.animate-flow-down {
  animation: flow-down 2s linear infinite;
}
